<div class=""mt-5>
  <h2>Nosotros</h2>
  <p>Nosotros somos nosotros</p>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of equipo, index as i">
      <h6>Nombre:{{item.nombre}}</h6>
      <h6>Especialidad:{{item.especialidad}}</h6>
      <a [routerLink]="['/equipo',i]">Leer mas...</a>
    </li>
  </ul>
</div>